In [1]:
# Create a practice set of random latitude and longitude combinations.
x = [25.12903645, 25.92017388, 26.62509167, -59.98969384, 37.30571269]
y = [-67.59741259, 11.09532135, 74.84233102, -76.89176677, -61.13376282]
coordinates = zip(x, y)

In [2]:
# Use the tuple() function to display the latitude and longitude combinations.
for coordinate in coordinates:
    print(coordinate[0], coordinate[1])

25.12903645 -67.59741259
25.92017388 11.09532135
26.62509167 74.84233102
-59.98969384 -76.89176677
37.30571269 -61.13376282

In [3]:
# Use the citipy module to determine city based on latitude and longitude.
from citipy import citipy

In [4]:
# Use the tuple() function to display the latitude and longitude combinations.
for coordinate in coordinates:
    print(citipy.nearest_city(coordinate[0], coordinate[1]).city_name,
          citipy.nearest_city(coordinate[0], coordinate[1]).country_code)

In [5]:
# Import the requests library.
import requests

# Import the API key.
from config import weather_api_key

In [6]:
# Starting URL for Weather Map API Call.
url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=" + weather_api_key
#print(url)

In [7]:
# Create an endpoint URL for a city.
city_url = url + "&q=" + "Boston"
print(city_url)

http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=32bec5d7987535acef286914f1a517ab&q=Boston

In [8]:
# Make a 'Get' request for the city weather.
city_weather = requests.get(city_url)
city_weather

In [9]:
# Create an endpoint URL for a city.
city_url = url + "&q=" + "Bston"
city_weather = requests.get(city_url)
city_weather

In [10]:
# Create an endpoint URL for a city.
city_url = url + "&q=" + "Boston"
city_weather = requests.get(city_url)
city_weather

In [11]:
# Get the text of the 'Get' request.
city_weather.text

'{"coord":{"lon":-71.0598,"lat":42.3584},"weather":[{"id":803,"main":"Clouds","description":"broken clouds","icon":"04d"}],"base":"stations","main":{"temp":40.01,"feels_like":33.66,"temp_min":37.15,"temp_max":41.52,"pressure":1012,"humidity":48},"visibility":10000,"wind":{"speed":10,"deg":285,"gust":20},"clouds":{"all":75},"dt":1638301203,"sys":{"type":2,"id":2013408,"country":"US","sunrise":1638273190,"sunset":1638306795},"timezone":-18000,"id":4930956,"name":"Boston","cod":200}'

In [12]:
# Get the JSON text of the 'Get' request.
city_weather.json()

{'coord': {'lon': -71.0598, 'lat': 42.3584},
 'weather': [{'id': 803,
   'main': 'Clouds',
   'description': 'broken clouds',
   'icon': '04d'}],
 'base': 'stations',
 'main': {'temp': 40.01,
  'feels_like': 33.66,
  'temp_min': 37.15,
  'temp_max': 41.52,
  'pressure': 1012,
  'humidity': 48},
 'visibility': 10000,
 'wind': {'speed': 10, 'deg': 285, 'gust': 20},
 'clouds': {'all': 75},
 'dt': 1638301203,
 'sys': {'type': 2,
  'id': 2013408,
  'country': 'US',
  'sunrise': 1638273190,
  'sunset': 1638306795},
 'timezone': -18000,
 'id': 4930956,
 'name': 'Boston',
 'cod': 200}

In [13]:
# Create an endpoint URL for a city.
city_url = url + "&q=" + "Boston"
city_weather = requests.get(city_url)
if city_weather.status_code == 200:
    print(f"City Weather found.")
else:
    print(f"City weather not found.")

City Weather found.

In [14]:
# Create an endpoint URL for a city.
city_url = url + "&q=" + "Bston"
city_weather = requests.get(city_url)
if city_weather.status_code == 200:
    print(f"City Weather found.")
else:
    print(f"City weather not found.")

City weather not found.

In [15]:
# Create an endpoint URL for a city.
city_url = url + "&q=" + "Boston"
city_weather = requests.get(city_url)
city_weather.json()

{'coord': {'lon': -71.0598, 'lat': 42.3584},
 'weather': [{'id': 803,
   'main': 'Clouds',
   'description': 'broken clouds',
   'icon': '04d'}],
 'base': 'stations',
 'main': {'temp': 40.01,
  'feels_like': 33.66,
  'temp_min': 37.15,
  'temp_max': 41.52,
  'pressure': 1012,
  'humidity': 48},
 'visibility': 10000,
 'wind': {'speed': 10, 'deg': 285, 'gust': 20},
 'clouds': {'all': 75},
 'dt': 1638301203,
 'sys': {'type': 2,
  'id': 2013408,
  'country': 'US',
  'sunrise': 1638273190,
  'sunset': 1638306795},
 'timezone': -18000,
 'id': 4930956,
 'name': 'Boston',
 'cod': 200}

In [16]:
# Get the JSON data.
boston_data = city_weather.json()

In [17]:
boston_data['sys']["country"]

'US'

In [18]:
boston_data["dt"]

1638301203

In [19]:
lat = boston_data["coord"]["lat"]
lng = boston_data["coord"]["lon"]
max_temp = boston_data["main"]["temp_max"]
humidity = boston_data["main"]["humidity"]
clouds = boston_data["clouds"]["all"]
wind = boston_data["wind"]["speed"]
print(lat, lng, max_temp, humidity, clouds, wind)

42.3584 -71.0598 41.52 48 75 10

In [20]:
# Import the datetime module from the datetime library.
from datetime import datetime
# Get the date from the JSON file.
date = boston_data["dt"]
# Convert the UTC date to a date format with year, month, day, hours, minutes, and seconds.
datetime.utcfromtimestamp(date).strftime('%Y-%m-%d %H:%M:%S')

'2021-11-30 19:40:03'

In [21]:
# Import the time library and the datetime module from the datetime library 
import time
from datetime import datetime

In [25]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os

# File to Load (Remember to change these)
city_data_to_load = "weather_data/cities.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)

In [26]:
city_data_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Vaini,TO,2021-11-30 18:46:08,-21.2000,-175.2000,75.36,88,40,11.50
1,1,Carnarvon,AU,2021-11-30 18:46:08,-24.8667,113.6333,68.07,77,40,20.71
2,2,Uchaly,RU,2021-11-30 18:46:08,54.2996,59.4521,28.36,85,100,16.87
3,3,El Sauce,NI,2021-11-30 18:46:09,12.8869,-86.5390,84.40,36,4,8.95
4,4,Bluff,NZ,2021-11-30 18:46:09,-46.6000,168.3333,51.80,80,100,15.12
5,5,Lebu,CL,2021-11-30 18:46:09,-37.6167,-73.6500,60.80,70,1,13.15
6,6,Darnah,LY,2021-11-30 18:46:10,32.7670,22.6367,62.94,60,100,23.73
7,7,Langsa,ID,2021-11-30 18:46:10,4.4683,97.9683,73.98,97,100,2.64
8,8,Pedernales,DO,2021-11-30 18:46:11,18.0384,-71.7440,84.45,58,41,5.70
9,9,Rikitea,PF,2021-11-30 18:46:11,-23.1203,-134.9692,76.26,75,0,21.63

In [27]:
# Extract relevant fields from the DataFrame for plotting.
lats = city_data_df["Lat"]
max_temps = city_data_df["Max Temp"]
humidity = city_data_df["Humidity"]
cloudiness = city_data_df["Cloudiness"]
wind_speed = city_data_df["Wind Speed"]

In [29]:
# Import the time module.
import time
# Get today's data in seconds.
today = time.strftime("%x")
today

'11/30/21'