In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API Key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ponta Do Sol,PT,2021-12-01 17:46:13,32.6667,-17.1000,67.12,62,24,7.43
1,1,Ushuaia,AR,2021-12-01 17:45:10,-54.8000,-68.3000,53.26,47,40,13.80
2,2,Mataura,NZ,2021-12-01 17:46:14,-46.1927,168.8643,51.48,97,26,1.81
3,3,Petropavlovsk-Kamchatskiy,RU,2021-12-01 17:43:28,53.0452,158.6483,23.59,100,90,8.95
4,4,Talnakh,RU,2021-12-01 17:46:14,69.4865,88.3972,-21.96,97,87,6.64

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp],dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
9,9,Kapaa,US,2021-12-01 17:46:17,22.0752,-159.3190,77.32,84,75,12.66
10,10,Kahului,US,2021-12-01 17:46:17,20.8947,-156.4700,76.84,88,20,3.44
11,11,Avarua,CK,2021-12-01 17:46:18,-21.2078,-159.7750,77.05,88,87,11.50
12,12,Janauba,BR,2021-12-01 17:46:18,-15.8025,-43.3089,78.73,79,94,4.23
13,13,Sagua De Tanamo,CU,2021-12-01 17:46:19,20.5819,-75.2414,86.43,49,11,8.90
18,18,Rikitea,PF,2021-12-01 17:46:21,-23.1203,-134.9692,76.19,68,1,19.66
28,28,Maputo,MZ,2021-12-01 17:43:48,-25.9653,32.5892,76.68,84,40,3.00
29,29,Itaituba,BR,2021-12-01 17:46:26,-4.2761,-55.9836,89.76,66,40,4.61
30,30,Faanui,PF,2021-12-01 17:46:26,-16.4833,-151.7500,79.92,76,100,21.74
33,33,Rock Sound,BS,2021-12-01 17:46:28,24.9000,-76.2000,77.32,64,2,12.55

In [13]:
preferred_cities_df.count()

City_ID       167
City          167
Country       165
Date          167
Lat           167
Lng           167
Max Temp      167
Humidity      167
Cloudiness    167
Wind Speed    167
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
9             Kapaa      US     77.32  22.0752 -159.3190
10          Kahului      US     76.84  20.8947 -156.4700
11           Avarua      CK     77.05 -21.2078 -159.7750
12          Janauba      BR     78.73 -15.8025  -43.3089
13  Sagua De Tanamo      CU     86.43  20.5819  -75.2414
18          Rikitea      PF     76.19 -23.1203 -134.9692
28           Maputo      MZ     76.68 -25.9653   32.5892
29         Itaituba      BR     89.76  -4.2761  -55.9836
30           Faanui      PF     79.92 -16.4833 -151.7500
33       Rock Sound      BS     77.32  24.9000  -76.2000

In [15]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [16]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping")

Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping

In [17]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
9,Kapaa,US,77.32,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
10,Kahului,US,76.84,20.8947,-156.4700,Maui Seaside Hotel
11,Avarua,CK,77.05,-21.2078,-159.7750,Paradise Inn
12,Janauba,BR,78.73,-15.8025,-43.3089,Ouro Norte Palace Hotel
13,Sagua De Tanamo,CU,86.43,20.5819,-75.2414,

In [18]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [20]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))